{% load static %}
<div class="slider-container" id="gallery">
    <h2 class="slider-title">Фотографии</h2>
    <div class="slider-wrapper">
        <div class="slider-for">
            <!-- Блок основного фото слайдера -->
            {% for slide in slides %}
                <div><img src="{{ slide.image.url }}" alt="{{ slide.title }}" data-width="{{ slide.image.width }}" data-height="{{ slide.image.height }}"></div>
            {% endfor %}
        </div>
        <div class="slider-nav">
            <!-- Навигационный блок слайдера -->
            {% for slide in slides %}
                <div><img src="{{ slide.image.url }}" alt="{{ slide.title }}"></div>
            {% endfor %}
        </div>
    </div>
</div>