/* Стили для мобильных устройств */
@media (max-width: 767px) {
    /* Навигационная панель */
    .navbar {
        padding: 5px 20px !important;
        justify-content: space-between !important;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #0A121E !important;
        display: flex;
        align-items: center;
    }

    /* Кнопка меню */
    .navbar-toggler {
        width: 40px;
        height: 40px;
        padding: 10px;
        gap: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler img {
        width: 100%;
        height: 100%;
    }

    /* Логотип */
    .navbar-brand {
        width: 100px;
        height: 80px;
        padding: 18.84px 0;
        gap: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand img {
        width: 100%;
        height: auto;
    }

    /* Пустой блок справа от логотипа */
    .empty-block {
        width: 52px;
        height: 60px;
        gap: 0;
        opacity: 1;
    }

    .d-flex {
        order: 3;
        margin-right: 10px;
    }

    .d-flex img {
        width: 100%;
        height: auto;
    }

    .navbar-collapse {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #0A121E;
        z-index: 1;
    }

    .navbar-nav {
        width: 100%;
        justify-content: flex-start;
        padding: 10px;
    }

    .nav-link {
        padding: 10px;
    }

    /* Центрирование всех блоков */
    .container, .row, .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /* Блок с преимуществами */
    /* Блок текста */
    .row.justify-content-center.mb-5 {
        padding: 0 20px; /* Добавляем отступы слева и справа */
        margin-bottom: -20px !important; /* Уменьшаем нижний отступ */
        margin-top: -50px !important;
    }

    .col-md-8.text-center {
        width: 100%; /* Занимает всю ширину на мобильных устройствах */
        transform: scale(0.7); /* Уменьшаем масштаб до 70% */
    }

    .col-md-8.text-center h2 {
        font-size: 24px; /* Уменьшаем размер шрифта заголовка */
        line-height: 1.2; /* Устанавливаем межстрочный интервал */
        word-wrap: break-word; /* Переносим слова, если они не помещаются на одной строке */
    }

    .col-md-8.text-center p {
        font-size: 16px; /* Уменьшаем размер шрифта текста */
        line-height: 1.4; /* Устанавливаем межстрочный интервал */
        word-wrap: break-word; /* Переносим слова, если они не помещаются на одной строке */
    }

    .container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col .row.row-cols-1.row-cols-sm-2.g-4.justify-content-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }

    .container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col .row.row-cols-1.row-cols-sm-2.g-4.justify-content-center .col-sm-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col .row.row-cols-1.row-cols-sm-2.g-4.justify-content-center .col-sm-6 h3 {
        font-family: 'Montserrat';
        font-size: calc(12px + 0.5vw); /* Изменяемый размер шрифта */
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.02em;
    }

    /* Слайдер */
    .slider-container {
        padding: 30px;
        width: 100%;
    }

    .slider-wrapper {
        width: 100%;
        height: auto;
    }

    .slider-for {
        width: 100%;
        height: 300px;
    }

    .slider-for img {
        width: 100%;
        height: 300px;
        object-fit: cover; /* Сохраняет пропорции изображения */
    }

    .slider-nav {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .slider-nav img {
        width: 100px;
        height: 100px;
        object-fit: cover; /* Сохраняет пропорции изображения */
    }

    /* Убираем горизонтальную прокрутку */
    html, body {
        overflow-x: hidden;
        max-width: 100vw;
    }
}