/* Стили для навигационной панели */
/* Фон панели */
.navbar {
    background-color: #0A121E !important;
    padding: 0 150px !important;
}

/* Панель меню */
.navbar-nav {
    width: auto !important;
    gap: 45px !important;
    justify-content: center !important;
}

/* Элементы меню */
.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 19.5px !important;
    letter-spacing: 0.05em !important;
    color: #FFFFFF !important;
}

/* Стили для основного контейнера */
.container.px-4.py-5 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

body {
    padding-top: 56px;
}

/* Стили для заголовка и текста */
/* Стили для заголовка */
.container.px-4.py-5 .row.justify-content-center.mb-5 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 68.26px;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

/* Стили для текста под заголовком */
.container.px-4.py-5 .row.justify-content-center.mb-5 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

/* Стили для блока с преимуществами */
.container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col .row.row-cols-1.row-cols-sm-2.g-4.justify-content-center .col-sm-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col .row.row-cols-1.row-cols-sm-2.g-4.justify-content-center .col-sm-6 h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Стили для блока с фотографией */
.container.px-4.py-5 .row.justify-content-center .col-md-10 .row.row-cols-1.row-cols-md-2.align-items-center.g-5 .col img {
    border-radius: 40px 0 0 0;
}

/* Стили для слайдера */
/* Стили для контейнера слайдера */
.slider-container {
    background-color: #3C3C3C;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для заголовка слайдера */
.slider-title {
    width: 295px;
    height: 52px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для блока с фотографиями */
.slider-wrapper {
    width: 1117px;
    height: 630px;
    top: 202px;
    left: 177.5px;
    gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-for {
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #00000080;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-for img {
    object-fit: cover;
    border-radius: 40px;
}

.slider-nav {
    gap: 30px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.slider-nav .slick-list {
    padding: 0 !important;
}

.slider-nav .slick-slide {
    margin: 0 15px;
}

.slider-nav img {
    border-radius: 40px;
    opacity: 1;
    object-fit: cover;
    cursor: pointer;
}